/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Noto-Sans";
  src: url("../../fonts/Noto_Sans/NotoSans-Regular.ttf") format("opentype"), url("../../fonts/Noto_Sans/NotoSans-Regular.woff") format("woff"), url("../../fonts/Noto_Sans/NotoSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
/* --------------------- */
@font-face {
  font-family: "Noto-Sans";
  src: url("../../fonts/Noto_Sans/NotoSans-Medium.ttf") format("opentype"), url("../../fonts/Noto_Sans/NotoSans-Medium.woff") format("woff"), url("../../fonts/Noto_Sans/NotoSans-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
/* --------------------- */
@font-face {
  font-family: "Noto-Sans";
  src: url("../../fonts/Noto_Sans/NotoSans-Bold.ttf") format("opentype"), url("../../fonts/Noto_Sans/NotoSans-Bold.woff") format("woff"), url("../../fonts/Noto_Sans/NotoSans-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
/* --------------------- */
@font-face {
  font-family: "Noto-Serif";
  src: url("../../fonts/Noto_Serif/NotoSerif-Regular.ttf") format("opentype"), url("../../fonts/Noto_Serif/NotoSerif-Regular.woff") format("woff"), url("../../fonts/Noto_Serif/NotoSerif-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Noto-Serif";
  src: url("../../fonts/Noto_Serif/NotoSerif-Medium.ttf") format("opentype"), url("../../fonts/Noto_Serif/NotoSerif-Medium.woff") format("woff"), url("../../fonts/Noto_Serif/NotoSerif-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
/* --------------------- */
@font-face {
  font-family: "Roboto-Slab";
  src: url("../../fonts/Roboto_Slab/RobotoSlab-Regular.ttf") format("opentype"), url("../../fonts/Roboto_Slab/RobotoSlab-Regular.woff") format("woff"), url("../../fonts/Roboto_Slab/RobotoSlab-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
/* --------------------- */
* {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background-color: #f00;
}

html {
  font-size: 1px;
}

body {
  font-family: "Noto-Sans", sans-serif;
  font-size: 10rem;
  line-height: 136%;
  caret-color: #f00;
}
@media screen and (min-width: 1280px) {
  body {
    font-size: 0.78125vw;
  }
}

@media screen and (max-width: 767px) {
  .display-more-767 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .display-less-768 {
    display: none;
  }
}

.button {
  font-family: "Roboto-Slab", sans-serif;
  font-size: 14rem;
  line-height: 132%;
  text-transform: lowercase;
  color: #f00;
  background-color: transparent;
  border: none;
  padding: 4rem 10rem;
  min-width: fit-content;
  border-radius: 4rem;
}
@media screen and (min-width: 1280px) {
  .button {
    font-size: 1.09375vw;
  }
}
@media screen and (min-width: 1280px) {
  .button {
    padding: 0.3125vw 0.78125vw;
    border-radius: 0.3125vw;
  }
}
.button:hover {
  cursor: pointer;
}
@media (min-width: 769px) {
  .button:hover {
    color: #fff;
    background-color: #f00;
  }
  .button:active {
    color: #fff;
    background-color: #000;
  }
}
@media (max-width: 768px) {
  .button:active, .button:focus {
    color: #fff;
    background-color: #f00;
  }
}

.news-statistics {
  font-family: "Noto-Sans", sans-serif;
  font-size: 16rem;
  line-height: 136%;
  font-weight: 500;
  display: flex;
  color: #3d3d3d;
}
@media screen and (min-width: 1280px) {
  .news-statistics {
    font-size: 1.25vw;
  }
}
.news-statistics__item {
  display: flex;
  align-items: center;
}
.news-statistics__item:not(:last-child) {
  margin: 0 17rem 0 0;
}
@media screen and (min-width: 1280px) {
  .news-statistics__item:not(:last-child) {
    margin: 0 1.328125vw 0 0;
  }
}
.news-statistics__preview-icon {
  width: 24px;
  stroke: #3d3d3d;
  margin: 0 10rem 0 0;
}
@media screen and (min-width: 1280px) {
  .news-statistics__preview-icon {
    width: 1.875vw;
    margin: 0 0.78125vw 0 0;
  }
}

.publisher-page-link {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: #f00;
  transition-property: width, height;
  transition: 0.15s cubic-bezier(0.33, 1, 0.68, 1);
}
@media screen and (min-width: 1280px) {
  .publisher-page-link {
    width: 1.953125vw;
    height: 1.953125vw;
  }
}
.publisher-page-link:hover {
  transform: scale(1.2);
}

.comment {
  font-family: "Noto-Sans", sans-serif;
  font-size: 14rem;
  line-height: 136%;
}
@media screen and (min-width: 1280px) {
  .comment {
    font-size: 1.09375vw;
  }
}
.comment__nickname {
  color: #f00;
}
.comment__nickname_writer {
  font-family: "Noto-Sans", sans-serif;
  font-size: 16rem;
  line-height: 136%;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .comment__nickname_writer {
    font-size: 1.25vw;
  }
}
.comment__text {
  margin: 8rem 0 0;
  color: #000;
  font-size: inherit;
}
.comment__text_writer {
  font-size: 16rem;
}
@media screen and (min-width: 1280px) {
  .comment__text_writer {
    font-size: 1.25vw;
  }
}

.news {
  max-width: 600rem;
}
@media screen and (min-width: 1280px) {
  .news {
    max-width: 46.875vw;
    padding: 0 3.515625vw 0 0;
  }
}
.news__title {
  font-family: "Noto-Serif", sans-serif;
  font-size: 36rem;
  line-height: 136%;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .news__title {
    font-size: 2.8125vw;
  }
}
@media screen and (max-width: 575px) {
  .news__title {
    font-size: 26rem;
  }
}
.news__author-comment-section {
  margin: 25rem 0 0;
}
@media screen and (min-width: 1280px) {
  .news__author-comment-section {
    margin: 1.953125vw 0 0;
  }
}
.news__author-name {
  color: #f00;
  font-family: "Noto-Sans", sans-serif;
  font-size: 16rem;
  line-height: 136%;
  font-weight: 500;
}
@media screen and (min-width: 1280px) {
  .news__author-name {
    font-size: 1.25vw;
  }
}
.news__author-comment {
  font-family: "Noto-Sans", sans-serif;
  font-size: 16rem;
  line-height: 136%;
  margin: 8rem 0 0;
}
@media screen and (min-width: 1280px) {
  .news__author-comment {
    font-size: 1.25vw;
  }
}
@media screen and (min-width: 1280px) {
  .news__author-comment {
    margin: 0.625vw 0 0;
  }
}
.news__controllers {
  display: flex;
  justify-content: flex-end;
  margin: 15rem 0 0;
}
@media screen and (min-width: 1280px) {
  .news__controllers {
    margin: 1.171875vw 0 0;
  }
}
.news__publisher-page-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  right: 0;
}
.news__publisher-page-links .publisher-page-link:not(:first-child) {
  margin: 10rem 0 0;
}
@media screen and (min-width: 1280px) {
  .news__publisher-page-links .publisher-page-link:not(:first-child) {
    margin: 0.78125vw 0 0;
  }
}
.news .button {
  width: 144rem;
  height: 26rem;
}
@media screen and (min-width: 1280px) {
  .news .button {
    width: 11.25vw;
    height: 2.03125vw;
  }
}
.index {
  /* padding: 0 30rem; */
  max-width: 600rem; 
  margin: 50rem auto 0;
}
.index .news-section {
  min-height: 100vh;
  flex-direction: column;
  gap: 50rem;
  display: flex;
}